name: Emit Workflow Traces

on:
  workflow_run:
    workflows:
      - CI
      - test
    types:
      - completed

permissions:
  packages: write
  contents: write
  attestations: write
  id-token: write
  actions: write
  checks: write

jobs:
  send:
    runs-on: ubuntu-latest
    services:
      otel-collector:
        image: "ghcr.io/freckle/trace-workflow-action-otel-image:7aa520d43a29e6d028037bdeafe9e9882e695795"
        ports:
          - "4317:4317"
          - "4318:4318"
        env:
          DD_API_KEY: ${{ secrets.DATADOG_API_KEY }}

    steps:
      - uses: actions/checkout@v6
      - name: Log in to the Container registry
        uses: docker/login-action@0567fa5ae8c9a197cb207537dc5cbb43ca3d803f
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # - run: docker logout ghcr.io
      - run: docker pull ghcr.io/freckle/trace-workflow-action-image:43355e9beffbab8294afac35d8c58a9ca1e89658
      - uses: ./
        with:
          github-run-id2: ${{ github.event.workflow_run.id }}
